﻿<div>
    <div>'<b>@ViewBag.Message</b>' was packed into</div>
    <table style="float:left">
        @foreach (var b in ViewBag.Before)
        {
            <tr>
                <td style="color:peru;">@Convert.ToString(b, 2)</td>
                <td>&nbsp; &rarr; &nbsp;</td>
            </tr>
        }
    </table>
    <table style="float:left">
        @foreach (var b in ViewBag.Payload)
        {
            <tr>
                <td>@b &nbsp;</td>
                <td style="width:75px; color:saddlebrown;">@Convert.ToString(b, 2)</td>
            </tr>
        }
    </table>
    <div style="clear:both"></div>
    <p>And decoded to '<b>@ViewBag.Decoding</b>'</p>
</div>