﻿@model Web.Models.SendMessage
@{
    string replaceId = "stackdata";
}

@*//////////////  MVC  /////////////*@

<div>
    @using (Ajax.BeginForm("Index", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = replaceId,
        HttpMethod = "GET"
    }))
    {
        string id = "string from Home-Index";
        @Html.EditorFor(x => id)
        <input type="submit" value="enc -> dec" />
    }
</div><br />

@*//////////////  ApiController  /////////////*@

<div>
    @using (Ajax.BeginForm("", "", new AjaxOptions
    {
        HttpMethod = "POST",
        Url = "/data/stack"
    }))
    {
        @Html.EditorFor(x => Model.text)
        <input type="submit" value="PUSH (encoding)" />
    }
</div>
@Ajax.ActionLink("POP", "", "", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = replaceId,
    HttpMethod = "GET",
    Url = "/data/stack/1"
})
<br />
@Ajax.ActionLink("COUNT", "", "", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = replaceId,
    HttpMethod = "GET",
    Url = "/data/stack/0"
})
<br />
@Ajax.ActionLink("PEEK", "", "", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = replaceId,
    HttpMethod = "GET",
    Url = "/data/stack/"
})
<br />




